body{
  background-color: lightgray;
  text-align:center;
}

.bodyText{
  display: inline-block;
  text-align: center;
  width: 500px;
}

.text{
  display: inline-block;
  text-align: left;
  font-size: large;
  padding-bottom: 10px;
}

.guessField{
  width: 200px;
}

.form{
  text-align: left;
}

button {
  font-family: Papyrus, helvetica, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 2px solid rgb(200 200 0 / 60%);
  background-color: rgb(0 217 217 / 60%);
  color: rgb(100 0 0 / 100%);
  box-shadow: 1px 1px 2px rgb(0 0 200 / 40%);
  border-radius: 10px;
  padding: 3px 10px;
  cursor: pointer;
}
